<%= form_for(@point_total) do |f| %>
  <% if @point_total.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point_total.errors.count, "error") %> prohibited this point_total from being saved:</h2>

      <ul>
      <% @point_total.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
